
<!DOCTYPE html>
<html>
<head>
<title>Pawsome Pet Products - Cart</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header>
<h1>Pawsome Pet Products</h1>
<nav>
<a href="/">Home</a>
<a href="/products">Products</a>
<a href="/cart">Cart</a>
<a href="/checkout">Checkout</a>
</nav>
</header>

<main>
<div class="cart">
{% if shopping_cart %}
<table>
<thead>
<tr>
<th>Product</th>
<th>Price</th>
<th>Quantity</th>
<th>Total</th>
</tr>
</thead>
<tbody>
{% for item in shopping_cart %}
<tr>
<td>{{ item.title }}</td>
<td>{{ item.price }}</td>
<td>{{ item.qty }}</td>
<td>{{ item.price * item.qty }}</td>
</tr>
{% endfor %}
</tbody>
<tfoot>
<tr>
<td colspan="3"></td>
<td><b>Total:</b> {{ total_price }}</td>
</tr>
</tfoot>
</table>

<a href="/checkout">Checkout</a>
{% else %}
<p>Your cart is empty.</p>
{% endif %}
</div>
</main>

<footer>
<p>Copyright 2023 Pawsome Pet Products</p>
</footer>
</body>
</html>


